@charset "utf-8";
.body{
	background-color: #000000;
}
.main{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin:0;
	background-image: url(https://i.imgur.com/djRrsTX.jpeg);
	background-size: 125%;	
}
.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
}
.nav{ /*This provides basic structure for nav like size, spacing, and color */
	text-align: center;
	width: 100%;
	margin: 0, auto;
	height: 75px;
	background-color: #003b6f;
	display: inline-block;
	top: 10px;
	word-spacing: 120px;
}
.navtxt{ /*Text specific formatting to allow proper formatting and positioning */
	font-size: 25px;
	color: black;
	text-decoration: none;
	vertical-align: -50px;
}
.logo{ /* The formatting specific to the logo within the nav */
	max-height: 100px;
	max-width: auto;
	display: inline-block;
	vertical-align: -50px
}
.button{ /*Apply now button */
	font-size: 42px;
	color: black;
	background-color: lightgray;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}
.banner1{ /*First section generic format */
	text-align: center;
	padding-bottom: 50px;	
}
.welcome{ /*Welcome message text formatting */
	color: #FFFFFF;
	font-weight: bold;
	font-size: 84px;
}
.banner2{ /*Section 2 formatting */
	text-align: left;
	background-color: rgba(0, 23.14, 43.53, .5); /*TARDIS Blue RGB Code with opacity altered for background */
	margin-left: 5%;
	margin-right: 5%;
	color: white;
	padding-bottom: 80px;
	padding-top: 20px;
	padding-left:20px;
}
.founderImg{ /*Image in section 2 */
	margin: 0;
	max-height: 300px;
	max-width: 300px;
	opacity: 100%;
	top: -10px;
	display: inline-block;
	margin: 10px;
	margin-left: 200px;
	float: left
}
.Foundermsg{ /*Message from founder "Affirmative" */
	font-size: 25px;
	text-align: right;
	padding-right: 200px;
}

.toolgallery{ /*Section 3 */
	background-color: rgba(0, 23.14, 43.53, .5); /*TARDIS Blue RGB Code with opacity altered for background */
	text-align: left;
	padding-top: 20px;
	padding-left:28px;
	padding-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	color:white;
}
.DRImg{ /*First Tool with Doctor image */
	max-height: 200px;
	max-width: auto;
	padding-bottom: 25px;
}
.drtitle{ /*Title underneath first image */
	text-align: left;
	margin-top: -10px;
	margin-left: 80px;
}
.schematicLink{ /*General formatting for Schematic Tool image & Text */
	text-align: center;
	vertical-align: 50px;
	float: center;
	margin-top: -260px;
}
.schematics{ /*The second image in tools */
	max-height: 200px;
	max-width: auto;
	padding-bottom: 25px;
	position: center;
}
.schematictitle{ /*Title for tool 2 */
	margin-top: -10px;
}
.puppytxt{ /*3rd tool title */
	margin-top: -10px;
	margin-right: 40px;
}
.puppytips{ /*3rd tool image */
	text-align: right;
	vertical-align: 50px;
	margin-top: -260px;
	margin-right: 50px;
}
.footer{ /*Bottom footer section formatting */
	background-color: #003b6f;
	height: 75px;
}
.copyright{ /*Text in footer */
	color: white;
	padding-top: 10px;
}
